[ req ]
default_bits       = 1024
distinguished_name = req_DN
string_mask        = nombstr

[ req_DN ]
countryName                     = "1. Country Name             (2 letter code)"
countryName_default             = JP
countryName_min                 = 2
countryName_max                 = 2
stateOrProvinceName             = "2. State or Province Name   (full name)    "
stateOrProvinceName_default     = Osaka
localityName                    = "3. Locality Name            (eg, city)     "
localityName_default            = Osaka City
0.organizationName              = "4. Organization Name        (eg, company)  "
0.organizationName_default      = CAPCOM Co.,Ltd.
organizationalUnitName          = "5. Organizational Unit Name (eg, section)  "
organizationalUnitName_default  = SDD
commonName                      = "6. Common Name              (eg, CA name)  "
commonName_max                  = 64
commonName_default              = mh.capcom.co.jp
